body::-webkit-scrollbar {
    display: none;
  }

body, html {
    overflow-x: hidden;
    background-color: black;
    scroll-behavior: smooth;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#content {
    z-index: 2;
    position: absolute;
}

nav {
    color: white;
    padding: 8vh 8vw;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 4vw;
}

nav a:hover {
    color: #aaaaaa;
}

#startButton {
    border-radius: 100%;
    padding: 0rem 0.4rem;
    transform: translate(50vw, 70vh);
    background-color: black;
    color: white;
    animation: hop 4s infinite cubic-bezier( 0.59, 0.33, 0.14, 0.53 );
}

@keyframes hop {
    0% {
        transform: translate(50vw, 70vh);
    }
    50% {
        transform: translate(50vw, 67vh);
    }
    100% {
        transform: translate(50vw, 70vh);
    }
}

@keyframes colorChange {
    0% {
        color: white;
        background-color: black;
    }
    100% {
        color: black;
        background-color: white;
    }
}

#startButton:hover {
    animation: hop 4s infinite cubic-bezier( 0.59, 0.33, 0.14, 0.53 ), colorChange 2s 1 cubic-bezier( 0.59, 0.33, 0.14, 0.53 );
}

#startButton i {
    font-size: 25px;
}